.App {
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  font-size: 16px;
 
}

.App-content{
  text-align: center;
  align-items: center;
  height:90%;
  display:flex;
  flex-direction: column;
  padding-top: 10vh;
}

.App-header {
  background-color: blue;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:40%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.roomChooser{
  background-color: cornflowerblue;
  color: white;
  font-weight: 600;
  border:none;
  border-radius: 10px;
  height: 35px;
}

.roomActive{
  background-color: white;
  color: cornflowerblue;
}

.App-read{
  height:70%;
  position: relative;
  width: 38%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: left;
  padding: 18px;
}

.chatItem{
  display: flex;
}

.currUserItem{
  flex-flow: row-reverse;
}

.chatBox{
  border:none;
  padding:10px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.currUser{
  background-color: cornflowerblue;
  border-radius: 10px 0 10px 10px;
  color: white;
  float: right;
  width:max-content;
}

.otherUser{
  background-color: lightgray;
  color: black;
  float: left;
  width:max-content;
  border-radius: 10px 10px 10px 0px;
}

.userOnline{
  color:white;

}

.App-userSection{
  height:5vh;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding:5px;
}

.App-userSubSec{
  display: flex;
  flex-direction: row;
  width:85%;
  background-color: white;
  border-radius: 10px;
  height: 100%;
}

.App-userName{
  color:black;
  background-color: white;
  text-align: center;
  border:none;
  border-radius: 10px;
  height: 50%;
}

.App-userInput{
  color:black;
  background-color: white;
  text-align: center;
  border:none;
  border-radius: 10px;
  
  width:100%;
}

.App-userEmojiBtn{
  color:gray;
  background-color: white;
  border:none;
  border-radius: 50%;
}

.App-userFileBtn{
  color:gray;
  background-color: white;
  border:none;
  border-radius: 50%;
}

.appEmojiPick{
  display:block;
  height:5vh;
  position: absolute;
  z-index: 2;
  top:50vh;
  padding-left:50vh;
}

.fileinputs {
  position: relative;
  display:flex;
  flex-direction: row;
}

.appFilePick{
  position: absolute;
	text-align: right;
	-moz-opacity:0 ;
	opacity: 0;
  z-index: 2;
  bottom: 10px;
  width:20px;
  left:10px;
}

.dropzone{
  position: absolute;
  z-index: 1;
  background-color: transparent;
  border:none;
  height: 65%;
  width:30%;
  color: black;
  top:20vh;
}

.dropzone-active{
  position: absolute;
  z-index: 1;
  background-color: rgba(174, 220, 228, 0.959);
  border:0.5px dotted blue;
  height: 60%;
  color: black;
  text-align: center;
  font-weight: 600;
}

.dropzone-input{
  padding-top: 50%;
  height: 100%;

}

.appEmojiDisable{
  display: none;
}

.App-sendButton{
  background-color: blue;
  border:none;
  border-radius: 25%;
  color:white;
}